/* Taro UI 样式引入 */
/* Taro UI 样式引入 end */

page {
  --nav-bar-text-color: #fff;
  --nav-bar-title-text-color: #fff;
  --nav-bar-icon-color: #fff;
  --color-primary: #4A8DE7;
  --color-content: #f7f8fa;

  background: var(--color-content);
}
